{
	"database": {
		"client": "pg",
		"connection": {
			"host": "127.0.0.1",
			"database": "bookbrainz",
			"user": "bookbrainz",
			"password": ""
		}
	},
	"import": {
		"retryLimit": 1
	},
	"queue": {
		"connection": "amqp://localhost"
	}
}
