{
    "openLibrary": {
    	"works": {
	    	"path": "/path/to/dumps/works",
		    "fileCount": 1,
		    "parallelLimit": 1,
		    "asyncLimit": 1
    	},
    	"authors": {
    		"path": "/path/to/dumps/authors",
    		"fileCount": 1,
    		"parallelLimit": 1,
    		"asyncLimit": 1
    	},
    	"editions": {
    		"path": "/path/to/dumps/editions",
    		"fileCount": 1,
    		"parallelLimit": 1,
    		"asyncLimit": 1
    	}
	}
}