{
    "database": {
		"client": "pg",
		"connection": {
			"host": "127.0.0.1",
			"database": "bookbrainz",
			"user": "bookbrainz",
			"password": "bookbrainz"
		}
	},
	"import": {
		"retryLimit": 1
	},
	"openLibrary": {
    	"works": {
	    	"path": "/path/to/dumps/works",
		    "fileCount": 1,
		    "parallelLimit": 1,
		    "asyncLimit": 1
    	},
    	"authors": {
    		"path": "/path/to/dumps/authors",
    		"fileCount": 1,
    		"parallelLimit": 1,
    		"asyncLimit": 1
    	},
    	"editions": {
    		"path": "/path/to/dumps/editions",
    		"fileCount": 1,
    		"parallelLimit": 1,
    		"asyncLimit": 1
    	}
	}
}