{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/env", {
        "modules": false, // do not convert ESM to CommonJS (https://babeljs.io/docs/babel-preset-env#modules)
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}

